# Core web framework
fastapi
uvicorn[standard]==0.30.1
gunicorn
python-dotenv

# Data & numerical libraries
numpy
pandas
pyarrow

# ML
lightgbm
scikit-learn
joblib
ta
ccxt
matplotlib

# DB
sqlalchemy
psycopg2-binary

# Data provider
ccxt

# Utilities
tqdm
