# Core web framework
fastapi
uvicorn[standard]
python-dotenv

# Data & numerical libraries
numpy
pandas
pyarrow

# Machine learning
lightgbm
scikit-learn
joblib
ta

# Database & ORM
sqlalchemy
psycopg2-binary

# Trading / market data
ccxt

# Utilities
tqdm
